 {% extends "base.html" %}
 {% block content %} 
<div class="pageheader">
                <div class="pageicon"><span class="iconfa-pencil"></span></div>
                    <div class="pagetitle"><h1>Dashboard</h1></div>
            </div>
            <div class="maincontent">
                <div class="maincontentinner">
                    <div style="min-height: 300px;">
                        <div class="span6">
                            <h4 class="widgettitle">People on Board Halul:<b style="padding-left: 10px; font-size:175%;"></b></h4>
                            <h4 class="widgettitle">People on Board PS 2:<b style="padding-left: 15px; font-size:175%;"></b></h4>
                            <h4 class="widgettitle">People on Board PS 3:<b style="padding-left: 15px; font-size:175%;"></b></h4>
                        </div>
                    <div class="clearfix"></div>
                    <div style="padding-top:20px" class="span3">
                    <table id="table" class="table table-bordered responsive">
                    <colgroup><col class="con0"><col class="con1"></colgroup>
                    <thead>
                        <tr>
                            <th class="head0">Device</th><th class="head1">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="gradeX">
                            <td>
                                <h5>Halul</h5>
                            </td>
                            <td>
                                <span class="btn btn-success iconfa-signal"></span><b> Device OK</b>
                            </td>
                        </tr>
                        <tr class="gradeX">
                            <td>
                                <h5>PS 2</h5>
                            </td>
                            <td>
                            <span class="btn btn-success iconfa-signal"></span><b> Device OK</b>
                            </td>
                        </tr>
                        <tr class="gradeX">
                            <td>
                            <h5>PS 3</h5></td>
                            <td>
                            <span class="btn btn-success iconfa-signal"></span><b> Device OK</b>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div> 
 {% endblock %}
 
